// Palettes

// bouqet

@bouqet-pink: #dc4580;
@bouqet-dark-blue: #153c57;
@bouqet-light-green: #b2cf9e;
@bouqet-bright-orange: #ea7622;
@bouqet-umber-red: #bd2911;

// hot bouqet

@hot-pink: #f257be;
@hot-blue: #236188;
@hot-orange: #ff6533;
@hot-light-green: #90cca9;
@hot-dark-blue: #231f40;

// art deco 1

@deco-light-pink: #f7b7c7;
@deco-grey: #656478;
@deco-blue: #75d0bb;
@deco-yellow: #f18d11;
@deco-red: #e9243c;


// fonts
// Lato
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

// Arvo
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,700italic);

// Lobster
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic);

// mixins

// font mixins

.body-font-thin() {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.body-font-light() {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.body-font-normal() {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.body-font-bold() {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.head-font-normal() {
  font-family: 'Arvo', serif;
  font-weight: 400;
}

.head-font-heavy() {
  font-family: 'Arvo', serif;
  font-weight: 700;
}

.head-font-heavy-italic() {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-style: italic;
}

.lobster-bold-italic() {
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
}

// width / height mixins

.content-full-width() {
  width: 900px;
}

// border mixins

.double-border(@color) {
  border: 10px double @color;
}

.double-border-bottom(@color) {
  border-bottom: 10px double @color;
}

body {

  background-color: @deco-blue;
  color: @deco-grey;
  margin: 0;

  #header-section {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: @deco-blue;
    height: 50px;
    .double-border-bottom(white);

    .header-link-container {

      .body-font-normal();

      .content-full-width();
      margin: 0 auto;

      .info-link,
      .rsvp-link,
      .map-link {
        position: inline;
        float: left;
        width: 200px;
        height: 50px;
      }
    }
  }

  #info-section,
  #rsvp-section,
  #map-section {

    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 100px 0;

  }


  #info-section {

    background-color: @deco-light-pink;
    .double-border-bottom(white);

    .intro {
      .content-full-width();
      height: auto;
      background-color: transparent;
      margin: 0 auto;
      padding: 30px 0;
      color: white;
      text-align: center;

      .intro-lead {
        .double-border(@deco-red);
        color: white;
        //border-radius: 12px;
       //.head-font-heavy-italic();
       .lobster-bold-italic();
        font-size: 120px;
        line-height: 120px;
        padding: 20px 0;
        //text-transform: uppercase;
        //letter-spacing: 6px;
        margin: 20px auto;
      }

      .intro-message {
        color: @deco-grey;
       .body-font-normal();
        font-size: 25px;
        line-height: 30px;
        .content-full-width();
        margin: 70px auto;

        &.btwn {
          .body-font-bold();
          font-size: 25px;
          line-height: 25px;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
        }

      }

      .standout-text {
        color: white;
        .lobster-bold-italic();
        font-size: 90px;
        line-height: 90px;
        margin: 30px auto;
      }

    }
  }

    #rsvp-section {

    background-color: @deco-yellow;
    .double-border-bottom(white);

    .form-container {
      .content-full-width();
      height: auto;
      background-color: transparent;
      margin: 0 auto;
      color: white;
      text-align: center;

      .form-intro-message {
        .body-font-light();
        font-size: 18px;
      }
    }

  }

  #map-section {

    background-color: @deco-grey;

    .map-container {
      .content-full-width();
      height: auto;
      margin: 0 auto;
      color: white;
      text-align: center;
    }

  }

}
