// Palettes

// bouqet

@bouqet-pink: #dc4580;
@bouqet-dark-blue: #153c57;
@bouqet-light-green: #b2cf9e;
@bouqet-bright-orange: #ea7622;
@bouqet-umber-red: #bd2911;

// hot bouqet

@hot-pink: #f257be;
@hot-blue: #236188;
@hot-orange: #ff6533;
@hot-light-green: #90cca9;
@hot-dark-blue: #231f40;

// art deco 1

@deco-light-pink: #f7b7c7;
@deco-grey: #656478;
@deco-blue: #75d0bb;
@deco-yellow: #f18d11;
@deco-red: #e9243c;


// fonts
// Lato
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

// Arvo
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,700italic);

// Lobster
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic);

// mixins

// font mixins

.body-font-thin() {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.body-font-light() {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.body-font-normal() {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.body-font-bold() {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.body-font-bold-italic() {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 700;
}

.head-font-normal() {
  font-family: 'Arvo', serif;
  font-weight: 400;
}

.head-font-heavy() {
  font-family: 'Arvo', serif;
  font-weight: 700;
}

.head-font-heavy-italic() {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-style: italic;
}

.lobster-bold-italic() {
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
}

// width / height mixins

.content-full-width() {
  width: 900px;
}

// border mixins

.double-border(@color) {
  border: 10px double @color;
}

.double-border-bottom(@color) {
  border-bottom: 6px double @color;
}

// Button mixins

.button() {
  width: 200px;
  height: 50px;
  background-color: transparent;
  .double-border(white);
  padding: 10px auto;
  margin: 15px auto;
  color: white;

  .body-font-bold();
  font-size: 18px;
  text-transform: uppercase;

  &:hover {
    background-color: white;
    cursor: pointer;
    color: @deco-yellow;
    .double-border(@deco-yellow);
  }

}

// Text styling mixins

// Large text

.large-text() {
  color: white;
  .lobster-bold-italic();
  font-size: 90px;
  line-height: 90px;
  margin: 30px auto;
}

.medium-text-uppercase() {
  color: @deco-grey;
  .body-font-bold();
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
}

body {

  background-color: @deco-blue;
  color: @deco-grey;
  margin: 0;

  #header-section {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: @deco-blue;
    height: 50px;
    .double-border-bottom(white);

    .header-link-container {

      .body-font-bold();

      .content-full-width();
      margin: 0 auto;

      .info-link,
      .rsvp-link,
      .map-link,
      .insta-gallery-link {
        h3 {
          a {
            color: @deco-grey;
            text-decoration: none;
            position: inline;
            float: left;
            width: 25%;
            height: 50px;
            text-align: center;
            text-transform: uppercase;

            &:hover {
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  #info-section,
  #rsvp-section,
  #map-section,
  #countdown-section,
  #weather-section,
  #insta-gallery-section,
  #card-section,
  #signature-section {

    .double-border-bottom(white);

    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 100px 0;

  }

  #info-section {

    background-color: @deco-light-pink;

    .intro {
      .content-full-width();
      position: relative;
      display: block;
      height: auto;
      background-color: transparent;
      margin: 0 auto;
      padding: 30px 0;
      color: white;
      text-align: center;

      .intro-card {
        //.content-full-width();
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: absolute;
        display: block;
        //top: 100px;
        //left: 25%;
        z-index: 0;
      }

      .intro-lead {
        // .content-full-width();
        //width: 700px;
        width: 80%;
        left: 10%;
        .double-border(@deco-red);
        // background-color: rgba(255, 255, 255, 0.5);
        color: white;
        //border-radius: 12px;
       //.head-font-heavy-italic();
       .lobster-bold-italic();
        font-size: 120px;
        line-height: 120px;
        padding: 20px 0;
        //text-transform: uppercase;
        //letter-spacing: 6px;
        margin: 20px auto;
        z-index: 10;
        position: absolute;
        top: 50px;
        //left: 100px;
      }

      .intro-message {
        color: @deco-grey;
       .body-font-normal();
        font-size: 30px;
        line-height: 40px;
        .content-full-width();
        margin: 70px auto;

        &.btwn {
          .body-font-bold();
          font-size: 25px;
          line-height: 25px;
          margin: 0;
          padding: 15px 0 0 0;
          text-transform: uppercase;
        }

      }

      .standout-text {
        color: white;
        .lobster-bold-italic();
        font-size: 90px;
        line-height: 90px;
        margin: 30px auto;
      }

      .us-img-container {

        width: 500px;
        height: 500px;
        border-radius: 50%;
        margin: 600px auto 0 auto;


        .double-border(white);

        .us-img {

          height: auto;
          width: 100%;
          border-radius: 50%;

        }
      }

    }
  }

  #countdown-section {

    .countdown-container {

      .content-full-width();
      height: auto;
      background-color: transparent;
      margin: 0 auto;
      padding: 0 0 30px 0;
      color: white;
      text-align: center;
      height: 200px;

      .unit {
        .medium-text-uppercase();
        display: inline;
        position: relative;
        padding: 0 5px;
      }

      .countdown,
      .number {
        .large-text();
        display: inline;
        position: relative;
      }

      .countdown {
        display: block;
        margin-top: 0;
      }
    }
  }

  #card-section {

    background-color: @deco-yellow;
    position: relative;
    display: block;
    height: 566px;
    padding: 0;
    overflow: hidden;

    .card {
       position: absolute;
       left: 0;
       top: 0;
       height: 566px;
       width: 5421px;
       -webkit-animation: slideshow 45s linear infinite;
       -moz-animation: slideshow 45s linear infinite;
     }

    @-webkit-keyframes slideshow {
      0% { left: 0; }
      100% { left: -200%; }
    }

    @-moz-keyframes slideshow {
      0% { left: 0; }
      100% { left: -200%; }
    }

  }

  #rsvp-section {

    background-color: @deco-yellow;

    .form-container {
      .content-full-width();
      height: auto;
      background-color: transparent;
      margin: 0 auto;
      color: white;
      text-align: center;

      .rsvp-message {
        color: white;
        .lobster-bold-italic();
        font-size: 90px;
        line-height: 90px;
        margin: 30px auto;
      }

      .form-intro-message {
        .body-font-bold();
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      form.form {

        .body-font-normal();
        font-size: 18px;
        text-transform: uppercase;

        .answer {
          width: 200px;
          height: 30px;
          margin-bottom: 20px;
        }

        .btn-container {

          position: relative;
          display: block;

          width: 100%;
          margin: 10px auto;
          padding: 10px 0;

          // Btn submit
          input.btn-submit {
            .button();
            margin-top: 20px;
          }

        }

      }

    }

  }

  #weather-section {

    background-color: @deco-light-pink;

    .weather-container {
      .content-full-width();
      height: auto;
      padding: 30px 0;
      margin: 0 auto;
      text-align: center;

      .naples-weather,
      .your-weather {

        .message {
          .body-font-bold();
          font-size: 25px;
          line-height: 25px;
          margin: 0;
          padding: 15px 0 0 0;
          text-transform: uppercase;

          &.italic {
            font-style: italic;
            margin: 0;
            padding: 30px 0 15px 0;
            text-transform: none;
          }

          &.italic.temp {

          color: white;
          .lobster-bold-italic();
          font-size: 90px;
          line-height: 90px;
          margin: 0px auto 30px auto;
          padding: 0;

          }

        }
      }

      .naples-weather {
        .fa.fa-sun-o.fa-5x.fa-spin.custom {
          color: @deco-yellow;
          font-size: 90px;
          opacity: 1;

          -webkit-animation:fa-spin 30s infinite linear;
          animation:fa-spin 30s infinite linear;

        }
      }

      .your-weather {
        .message.italic.temp {
          padding-bottom: 0;
        }
      }

    }

  }

  #map-section {

    background-color: @deco-grey;

    .map-container {
      .content-full-width();
      .double-border(white);
      height: 500px;
      margin: 0 auto;
      color: white;
      text-align: center;

      #map-canvas {
        height: 100%;
        width: 100%;
      }
    }

  }

  #insta-gallery-section {
    .insta-gallery-container {
        .content-full-width();
        height: auto;
        margin: 0 auto;
        text-align: center;

        .gallery-title {
          color: white;
          .lobster-bold-italic();
          font-size: 90px;
          line-height: 90px;
          margin: 0 0 30px auto;
        }

        .gallery-message {

          margin: 15px 0;

            .gallery-instructions {
              .medium-text-uppercase();
              display: block;
              position: relative;
              padding: 15px 5px 0 5px;
              width: 100%;
              margin: 15px 0;
              line-height: 35px;

              &.white {
                color: white;
                padding-bottom: 15px;
              }
            }
        }

      #insta-gallery {

        width: 100%;
        height: auto;
        display: block
        position: relative;

        .instas {
          display: inline;
          position: relative;
          height: auto;
          width: 28%;
          margin: 5px;
          border: 10px solid white;
          background-color: @deco-yellow;

          video {
            margin: 5px;
            border: 10px solid #white;
          }
        }


      }
    }
  }

  #signature-section {

    padding: 0;
    border-bottom: none;

    .signature-container {
        .content-full-width();
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding: 15px 0;

        .message {
          display: inline;
          position: relative;

          .signature {
            position: relative;
            display: inline;
            .medium-text-uppercase();
            font-size: 14px;
            display: block;
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0;
            line-height: 15px;

            .heart {
              position: relative;
              display: inline;
              color: @deco-red;
              font-size: 20px;
              line-height: 20px;
              padding: 0 5px;
            }
          }

        }
    }

  }

}
