@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,700italic);
body {
  background-color: grey;
  color: white;
}
body #info-section,
body #rsvp-section,
body #map-section {
  width: 100%;
  color: grey;
  display: block;
  position: relative;
  margin: 100px auto;
}
body #info-section .intro {
  width: 750px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  color: white;
  text-align: center;
}
body #info-section .intro .intro-lead {
  color: white;
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 50px;
}
body #info-section .intro .intro-message {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
body #rsvp-section .form-container {
  width: 750px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  color: white;
  text-align: center;
}
body #rsvp-section .form-container .form-intro-message {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
body #map-section .map-container {
  width: 750px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  color: white;
  text-align: center;
}
