@font-face {
  font-family: 'GillSans-Light';
  src: url('../fonts/GillSans-Light.eot');
  src: url('../fonts/GillSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSans-Light.woff2') format('woff2'), url('../fonts/GillSans-Light.woff') format('woff'), url('../fonts/GillSans-Light.ttf') format('truetype'), url('../fonts/GillSans-Light.svg#GillSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans.eot');
  src: url('../fonts/GillSans.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSans.woff2') format('woff2'), url('../fonts/GillSans.woff') format('woff'), url('../fonts/GillSans.ttf') format('truetype'), url('../fonts/GillSans.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSans-Italic';
  src: url('../fonts/GillSans-Italic.eot');
  src: url('../fonts/GillSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSans-Italic.woff2') format('woff2'), url('../fonts/GillSans-Italic.woff') format('woff'), url('../fonts/GillSans-Italic.ttf') format('truetype'), url('../fonts/GillSans-Italic.svg#GillSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSans-Bold';
  src: url('../fonts/GillSans-Bold.eot');
  src: url('../fonts/GillSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSans-Bold.woff2') format('woff2'), url('../fonts/GillSans-Bold.woff') format('woff'), url('../fonts/GillSans-Bold.ttf') format('truetype'), url('../fonts/GillSans-Bold.svg#GillSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSans-BoldItalic';
  src: url('../fonts/GillSans-BoldItalic.eot');
  src: url('../fonts/GillSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSans-BoldItalic.woff2') format('woff2'), url('../fonts/GillSans-BoldItalic.woff') format('woff'), url('../fonts/GillSans-BoldItalic.ttf') format('truetype'), url('../fonts/GillSans-BoldItalic.svg#GillSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'delicious';
  src: url('../fonts/delicious-webfont.eot');
  src: url('../fonts/delicious-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/delicious-webfont.woff2') format('woff2'), url('../fonts/delicious-webfont.woff') format('woff'), url('../fonts/delicious-webfont.ttf') format('truetype'), url('../fonts/delicious-webfont.svg#deliciousregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #75d0bb;
  color: #656478;
  margin: 0;
}
body #header-section {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #75d0bb;
  height: 50px;
  border-bottom: 6px double white;
}
body #header-section .header-link-container {
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  width: 900px;
  margin: 0 auto;
  padding-top: 15px;
}
body #header-section .header-link-container .info-link h3,
body #header-section .header-link-container .rsvp-link h3,
body #header-section .header-link-container .map-link h3,
body #header-section .header-link-container .insta-gallery-link h3 {
  margin: 0;
}
body #header-section .header-link-container .info-link h3 a,
body #header-section .header-link-container .rsvp-link h3 a,
body #header-section .header-link-container .map-link h3 a,
body #header-section .header-link-container .insta-gallery-link h3 a {
  color: #656478;
  text-decoration: none;
  position: inline;
  float: left;
  width: 25%;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
}
body #header-section .header-link-container .info-link h3 a:hover,
body #header-section .header-link-container .rsvp-link h3 a:hover,
body #header-section .header-link-container .map-link h3 a:hover,
body #header-section .header-link-container .insta-gallery-link h3 a:hover {
  color: white;
  cursor: pointer;
}
body #info-section,
body #rsvp-section,
body #map-section,
body #countdown-section,
body #weather-section,
body #insta-gallery-section,
body #card-section,
body #signature-section {
  border-bottom: 6px double white;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
}
body #info-section {
  background-color: #f7b7c7;
}
body #info-section .intro {
  width: 90%;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  padding: 30px 0;
  color: white;
  text-align: center;
}
body #info-section .intro .intro-lead {
  position: relative;
  display: block;
  border: 10px double #e9243c;
  color: white;
  font-family: 'delicious', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 175px;
  line-height: 175px;
  padding: 20px 0;
  margin: 20px auto;
}
body #info-section .intro .intro-message {
  color: #656478;
  font-family: 'GillSans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  width: 900px;
  margin: 70px auto;
}
body #info-section .intro .intro-message.btwn {
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  width: 900px;
}
body #info-section .intro .standout-text {
  color: white;
  font-family: 'delicious', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 90px;
  margin: 32px auto;
}
body #info-section .intro .us-img-container {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 50px auto;
  border: 10px double white;
}
body #info-section .intro .us-img-container .us-img {
  height: auto;
  width: 100%;
  border-radius: 50%;
}
body #countdown-section .countdown-container {
  width: 900px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  padding: 0 0 30px 0;
  color: white;
  text-align: center;
  height: 200px;
}
body #countdown-section .countdown-container .unit {
  color: #656478;
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
  display: inline;
  position: relative;
  padding: 0 5px;
}
body #countdown-section .countdown-container .countdown,
body #countdown-section .countdown-container .number {
  color: white;
  font-family: 'delicious', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 90px;
  margin: 30px auto;
  display: inline;
  position: relative;
}
body #countdown-section .countdown-container .countdown {
  display: block;
  margin-top: 0;
}
body #card-section {
  background-color: #f18d11;
  position: relative;
  display: block;
  height: 566px;
  padding: 0;
  overflow: hidden;
}
body #card-section .card {
  position: absolute;
  left: 0;
  top: 0;
  height: 566px;
  width: 5421px;
  -webkit-animation: slideshow 45s linear infinite;
  -moz-animation: slideshow 45s linear infinite;
}
@-webkit-keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}
@-moz-keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}
body #rsvp-section {
  background-color: #f18d11;
}
body #rsvp-section .form-container {
  width: 900px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  color: white;
  text-align: center;
}
body #rsvp-section .form-container .rsvp-message {
  color: white;
  font-family: 'delicious', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 60px;
  margin: 30px auto 0 auto;
}
body #rsvp-section .form-container .rsvp-message h3.rsvp {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 85px;
}
body #rsvp-section .form-container .form-intro-message {
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  margin: 35px auto 30px auto;
}
body #rsvp-section .form-container .form-intro-message .superscript {
  text-transform: none;
}
body #rsvp-section .form-container #submit-success-message,
body #rsvp-section .form-container #submit-failure-message {
  position: relative;
  display: none;
  width: 900px;
  border: 10px double white;
  margin: 50px auto 0 auto;
  height: auto;
}
body #rsvp-section .form-container #submit-success-message .submit-message,
body #rsvp-section .form-container #submit-failure-message .submit-message {
  font-family: 'delicious', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 35px;
  line-height: 35px;
}
body #rsvp-section .form-container #submit-success-message .submit-sub,
body #rsvp-section .form-container #submit-failure-message .submit-sub {
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
body #rsvp-section .form-container #submit-success-message .submit-sub .email-us,
body #rsvp-section .form-container #submit-failure-message .submit-sub .email-us {
  color: #75d0bb;
}
body #rsvp-section .form-container #submit-success-message .fa,
body #rsvp-section .form-container #submit-failure-message .fa {
  margin: 15px auto 30px auto;
}
body #rsvp-section .form-container #submit-success-message.display,
body #rsvp-section .form-container #submit-failure-message.display {
  display: block;
}
body #rsvp-section .form-container #submit-success-message {
  background-color: #75d0bb;
}
body #rsvp-section .form-container #submit-failure-message {
  background-color: #e9243c;
}
body #rsvp-section .form-container form#form-test {
  font-family: 'GillSans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  z-index: 1;
}
body #rsvp-section .form-container form#form-test .answer {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  font-family: 'GillSans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #75d0bb;
}
body #rsvp-section .form-container form#form-test .answer:focus,
body #rsvp-section .form-container form#form-test .answer:active {
  outline: none;
}
body #rsvp-section .form-container form#form-test .answer.email {
  margin-top: -10px;
  margin-bottom: 10px;
  border: 10px solid #f18d11;
}
body #rsvp-section .form-container form#form-test .answer.email:focus {
  outline: none;
}
body #rsvp-section .form-container form#form-test .answer.email:focus:invalid {
  border: 10px solid #e9243c;
}
body #rsvp-section .form-container form#form-test .answer.email:focus:valid {
  border: 10px solid #75d0bb;
}
body #rsvp-section .form-container form#form-test .meal-options {
  position: relative;
  display: block;
  height: 34px;
  width: 200px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 38px;
}
body #rsvp-section .form-container form#form-test .meal-options .answer.dropdown {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: center;
  background-color: transparent;
  border: none;
  width: 206px;
  padding-left: 19.5%;
}
body #rsvp-section .form-container form#form-test .meal-options .answer.dropdown:active,
body #rsvp-section .form-container form#form-test .meal-options .answer.dropdown:hover,
body #rsvp-section .form-container form#form-test .meal-options .answer.dropdown:focus {
  border: none;
  outline: none;
}
body #rsvp-section .form-container form#form-test .btn-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;
}
body #rsvp-section .form-container form#form-test .btn-container input.btn-submit {
  width: 173px;
  height: 25px;
  margin: 15px auto;
  padding: 4px 6px;
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f18d11;
  color: white;
  border: 10px double white;
  margin-top: 20px;
  width: 205px;
  height: 50px;
  padding-top: 2px;
}
body #rsvp-section .form-container form#form-test .btn-container input.btn-submit:hover {
  cursor: pointer;
}
body #rsvp-section .form-container form#form-test .btn-container input.btn-submit:hover,
body #rsvp-section .form-container form#form-test .btn-container input.btn-submit:active {
  background-color: white;
  color: #f18d11;
  border: 10px double #f18d11;
}
body #rsvp-section .form-container form#form-test .guest-section {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;
}
body #rsvp-section .form-container form#form-test .guest-section .answer.add-guest {
  width: 173px;
  height: 25px;
  margin: 15px auto;
  padding: 4px 6px;
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  background-color: #f18d11;
  color: white;
  border: 10px double #656478;
  margin: 0 auto;
}
body #rsvp-section .form-container form#form-test .guest-section .answer.add-guest:hover {
  cursor: pointer;
}
body #rsvp-section .form-container form#form-test .guest-section .answer.add-guest:hover,
body #rsvp-section .form-container form#form-test .guest-section .answer.add-guest:active {
  background-color: #656478;
  border: 10px double #f18d11;
  color: white;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container {
  background-color: #f7b7c7;
  border: 10px double white;
  margin: 30px auto;
  padding-bottom: 30px;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .answer {
  display: inline-block;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .answer.email {
  margin-top: -10px;
  margin-bottom: 10px;
  border: 10px solid #f7b7c7;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .answer.email:focus {
  outline: none;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .answer.email:focus:invalid {
  border: 10px solid #e9243c;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .answer.email:focus:valid {
  border: 10px solid #75d0bb;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .delete-guest {
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  margin: 0;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .delete-guest:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .delete-guest .delete-guest-button {
  width: 173px;
  height: 25px;
  margin: 15px auto;
  padding: 4px 6px;
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f7b7c7;
  color: white;
  border: 10px double #e9243c;
  float: right;
  margin: 5px;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .delete-guest .delete-guest-button:hover {
  cursor: pointer;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .delete-guest .delete-guest-button:hover,
body #rsvp-section .form-container form#form-test .guest-section .guest-container .delete-guest .delete-guest-button:active {
  background-color: #e9243c;
  border: 10px double #f7b7c7;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .guest-number {
  font-family: 'delicious', cursive;
  letter-spacing: 1px;
  font-size: 75px;
  line-height: 75px;
  font-weight: normal;
  text-transform: none;
  margin: 10px auto 0 auto;
  padding: 0;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .meal-options {
  position: relative;
  display: block;
  height: 34px;
  width: 200px;
  margin: 0 auto 38px auto;
  background-color: white;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .meal-options .answer.dropdown {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: center;
  background-color: transparent;
  border: none;
  width: 206px;
  padding-left: 19.5%;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container .meal-options .answer.dropdown:active,
body #rsvp-section .form-container form#form-test .guest-section .guest-container .meal-options .answer.dropdown:hover,
body #rsvp-section .form-container form#form-test .guest-section .guest-container .meal-options .answer.dropdown:focus {
  border: none;
  outline: none;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container.even {
  background-color: #75d0bb;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container.even .delete-guest .delete-guest-button {
  width: 173px;
  height: 25px;
  margin: 15px auto;
  padding: 4px 6px;
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #75d0bb;
  margin: 5px;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container.even .delete-guest .delete-guest-button:hover {
  cursor: pointer;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container.even .delete-guest .delete-guest-button:hover,
body #rsvp-section .form-container form#form-test .guest-section .guest-container.even .delete-guest .delete-guest-button:active {
  background-color: #e9243c;
  border: 10px double #75d0bb;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container.even .answer.email {
  margin-top: -10px;
  margin-bottom: 10px;
  border: 10px solid #f7b7c7;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container.even .answer.email:focus {
  outline: none;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container.even .answer.email:focus:invalid {
  border: 10px solid #e9243c;
}
body #rsvp-section .form-container form#form-test .guest-section .guest-container.even .answer.email:focus:valid {
  border: 10px solid #75d0bb;
}
body #weather-section {
  background-color: #f7b7c7;
}
body #weather-section .weather-container {
  width: 900px;
  height: auto;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
}
body #weather-section .weather-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body #weather-section .weather-container .naples-weather,
body #weather-section .weather-container .your-weather {
  width: 49.5%;
  position: relative;
  float: left;
}
body #weather-section .weather-container .naples-weather .message,
body #weather-section .weather-container .your-weather .message {
  font-family: 'delicious', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 15px 0 0 0;
  color: white;
}
body #weather-section .weather-container .naples-weather .message.italic,
body #weather-section .weather-container .your-weather .message.italic {
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-style: regular;
  margin: 0;
  padding: 20px 0;
  text-transform: none;
  color: #656478;
}
body #weather-section .weather-container .naples-weather .message.italic.temp,
body #weather-section .weather-container .your-weather .message.italic.temp {
  color: white;
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 90px;
  margin: 0px auto 30px auto;
  padding: 0;
  letter-spacing: 3px;
}
body #weather-section .weather-container .naples-weather .fa.fa-sun-o.fa-5x.fa-spin.custom {
  color: #f18d11;
  font-size: 90px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-animation: fa-spin 30s infinite linear;
  animation: fa-spin 30s infinite linear;
}
body #weather-section .weather-container .your-weather {
  border-left: 6px double #656478;
}
body #weather-section .weather-container .your-weather .message.italic.temp {
  padding-bottom: 0;
}
body #weather-section .weather-container .your-weather .clouds {
  width: 200px;
  position: relative;
  margin: 0 auto;
  display: block;
  height: 90px;
}
body #weather-section .weather-container .your-weather .clouds .fa.fa-cloud.fa-5x {
  font-size: 90px;
  position: absolute;
  z-index: 5;
  left: 5%;
  animation: fadeOutLeft 20s both ease-in-out infinite alternate;
  -webkit-animation: fadeOutLeft 20s both ease-in-out infinite alternate;
}
body #weather-section .weather-container .your-weather .clouds .fa.fa-cloud.fa-5x.above {
  left: 40%;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}
body #weather-section .weather-container .your-weather .clouds .fa.fa-cloud.fa-5x.behind {
  left: 50%;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
@-webkit-keyframes fadeOutLeft {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  20% {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  40% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  80% {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
}
@keyframes fadeOutLeft {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  20% {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  40% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  80% {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
}
body #map-section {
  background-color: #656478;
}
body #map-section .map-container {
  width: 900px;
  border: 10px double white;
  height: 500px;
  margin: 0 auto;
  color: white;
  text-align: center;
}
body #map-section .map-container #map-canvas {
  height: 100%;
  width: 100%;
}
body #insta-gallery-section .insta-gallery-container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
body #insta-gallery-section .insta-gallery-container .gallery-title {
  color: white;
  font-family: 'delicious', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 90px;
  margin: 0 0 30px auto;
}
body #insta-gallery-section .insta-gallery-container .gallery-message {
  margin: 15px 0;
}
body #insta-gallery-section .insta-gallery-container .gallery-message .gallery-instructions {
  color: #656478;
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding: 15px 5px 0 5px;
  width: 100%;
  margin: 15px 0;
  line-height: 35px;
}
body #insta-gallery-section .insta-gallery-container .gallery-message .gallery-instructions.white {
  color: white;
  padding-bottom: 15px;
}
body #insta-gallery-section .insta-gallery-container #insta-gallery {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
body #insta-gallery-section .insta-gallery-container #insta-gallery .instas {
  display: inline;
  position: relative;
  height: auto;
  width: 28%;
  margin: 5px;
  border: 10px solid white;
  background-color: #f18d11;
}
body #insta-gallery-section .insta-gallery-container #insta-gallery .instas video {
  margin: 5px;
  border: 10px solid white;
}
body #signature-section {
  padding: 0;
  border-bottom: none;
}
body #signature-section .signature-container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
}
body #signature-section .signature-container .message {
  display: inline;
  position: relative;
}
body #signature-section .signature-container .message .signature {
  display: inline;
  color: #656478;
  font-family: 'GillSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 15px 0 0 0;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 25px;
  height: 25px;
}
body #signature-section .signature-container .message .heart-container {
  width: 50px;
  position: relative;
  display: inline;
}
body #signature-section .signature-container .message .heart-container .heart {
  position: relative;
  display: inline;
  color: #e9243c;
  font-size: 16px;
  line-height: 18px;
  height: 25px;
  padding: 0;
  margin: 0 10px;
  width: 30px;
  -webkit-animation: heartBeat 2s ease-in-out infinite;
  /* Safari 4+ */
  -moz-animation: heartBeat 2s ease-in-out infinite;
  /* Fx 5+ */
  -o-animation: heartBeat 2s ease-in-out infinite;
  /* Opera 12+ */
  animation: heartBeat 2s ease-in-out infinite;
  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes heartBeat {
  0% {
    font-size: 16px;
  }
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 16px;
  }
}
@-moz-keyframes heartBeat {
  0% {
    font-size: 16px;
  }
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 16px;
  }
}
@-o-keyframes heartBeat {
  0% {
    font-size: 16px;
  }
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 16px;
  }
}
@keyframes heartBeat {
  0% {
    font-size: 16px;
  }
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 16px;
  }
}
