@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic);
body {
  background-color: #75d0bb;
  color: #656478;
  margin: 0;
}
body #header-section {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #75d0bb;
  height: 50px;
  border-bottom: 6px double white;
}
body #header-section .header-link-container {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  width: 900px;
  margin: 0 auto;
}
body #header-section .header-link-container .info-link h3 a,
body #header-section .header-link-container .rsvp-link h3 a,
body #header-section .header-link-container .map-link h3 a,
body #header-section .header-link-container .insta-gallery-link h3 a {
  color: #656478;
  text-decoration: none;
  position: inline;
  float: left;
  width: 25%;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
}
body #header-section .header-link-container .info-link h3 a:hover,
body #header-section .header-link-container .rsvp-link h3 a:hover,
body #header-section .header-link-container .map-link h3 a:hover,
body #header-section .header-link-container .insta-gallery-link h3 a:hover {
  color: white;
  cursor: pointer;
}
body #info-section,
body #rsvp-section,
body #map-section,
body #countdown-section,
body #weather-section,
body #insta-gallery-section,
body #card-section {
  border-bottom: 6px double white;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
}
body #info-section {
  background-color: #f7b7c7;
}
body #info-section .intro {
  width: 900px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  padding: 30px 0;
  color: white;
  text-align: center;
}
body #info-section .intro .intro-lead {
  border: 10px double #e9243c;
  color: white;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 120px;
  line-height: 120px;
  padding: 20px 0;
  margin: 20px auto;
}
body #info-section .intro .intro-message {
  color: #656478;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  width: 900px;
  margin: 70px auto;
}
body #info-section .intro .intro-message.btwn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
}
body #info-section .intro .standout-text {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 90px;
  margin: 30px auto;
}
body #info-section .intro .us-img-container {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 50px auto;
  border: 10px double white;
}
body #info-section .intro .us-img-container .us-img {
  height: auto;
  width: 100%;
  border-radius: 50%;
}
body #countdown-section .countdown-container {
  width: 900px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  padding: 0 0 30px 0;
  color: white;
  text-align: center;
}
body #countdown-section .countdown-container .unit {
  color: #656478;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
  display: inline;
  position: relative;
  padding: 0 5px;
}
body #countdown-section .countdown-container .countdown,
body #countdown-section .countdown-container .number {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 90px;
  margin: 30px auto;
  display: inline;
  position: relative;
}
body #countdown-section .countdown-container .countdown {
  display: block;
  margin-top: 0;
}
body #rsvp-section {
  background-color: #f18d11;
}
body #rsvp-section .form-container {
  width: 900px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  color: white;
  text-align: center;
}
body #rsvp-section .form-container .rsvp-message {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 90px;
  margin: 30px auto;
}
body #rsvp-section .form-container .form-intro-message {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
body #rsvp-section .form-container form.form {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
body #rsvp-section .form-container form.form .answer {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}
body #rsvp-section .form-container form.form .btn-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;
}
body #rsvp-section .form-container form.form .btn-container input.btn-submit {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 10px double white;
  padding: 10px auto;
  margin: 15px auto;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
}
body #rsvp-section .form-container form.form .btn-container input.btn-submit:hover {
  background-color: white;
  cursor: pointer;
  color: #f18d11;
  border: 10px double #f18d11;
}
body #weather-section {
  background-color: #f7b7c7;
}
body #weather-section .weather-container {
  width: 900px;
  height: 500px;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
}
body #weather-section .weather-container .naples-weather .message,
body #weather-section .weather-container .your-weather .message {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
}
body #weather-section .weather-container .naples-weather .message.italic,
body #weather-section .weather-container .your-weather .message.italic {
  font-style: italic;
  margin: 0;
  padding: 30px 0 15px 0;
  text-transform: none;
}
body #weather-section .weather-container .naples-weather .message.italic.temp,
body #weather-section .weather-container .your-weather .message.italic.temp {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 90px;
  margin: 0px auto 30px auto;
  padding: 0;
}
body #weather-section .weather-container .your-weather .message.italic.temp {
  padding-bottom: 0;
}
body #map-section {
  background-color: #656478;
}
body #map-section .map-container {
  width: 900px;
  border: 10px double white;
  height: 500px;
  margin: 0 auto;
  color: white;
  text-align: center;
}
body #map-section .map-container #map-canvas {
  height: 100%;
  width: 100%;
}
body #card-section {
  background-color: #f18d11;
  padding: 0;
  overflow: hidden;
}
body #card-section .card-container {
  width: 100%;
  height: 575px;
  margin: 0 auto;
  color: white;
  text-align: center;
  overflow: hidden;
}
body #card-section .card-container .card {
  width: 900px;
  height: auto;
  position: absolute;
  display: inline;
  left: 0;
  top: 0;
}
body #card-section .card-container .card img {
  width: 100%;
  height: auto;
  display: inline;
  position: relative;
}
body #card-section .card-container .card.one {
  left: 0px;
}
body #card-section .card-container .card.two {
  left: 900px;
}
body #card-section .card-container .card.three {
  left: 1800px;
}
body #card-section .card-container .card.four {
  left: 2700px;
}
body #insta-gallery-section .insta-gallery-container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
body #insta-gallery-section .insta-gallery-container .gallery-title {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 90px;
  margin: 0 0 30px auto;
}
body #insta-gallery-section .insta-gallery-container .gallery-message {
  margin: 15px 0;
}
body #insta-gallery-section .insta-gallery-container .gallery-message .gallery-instructions {
  color: #656478;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding: 15px 5px 0 5px;
  width: 100%;
  margin: 15px 0;
  line-height: 35px;
}
body #insta-gallery-section .insta-gallery-container .gallery-message .gallery-instructions.white {
  color: white;
  padding-bottom: 15px;
}
body #insta-gallery-section .insta-gallery-container #insta-gallery {
  width: 100%;
  height: auto;
  display: block
        position: relative;
}
body #insta-gallery-section .insta-gallery-container #insta-gallery .instas {
  display: inline;
  position: relative;
  height: auto;
  width: 28%;
  margin: 5px;
  border: 10px solid white;
  background-color: #f18d11;
}
body #insta-gallery-section .insta-gallery-container #insta-gallery .instas video {
  margin: 5px;
  border: 10px solid #white;
}
